#profile {
	text-align: center;
	padding: 30px 10px;
	position: relative;
}

#profile .portrate {
	background-image: url(../img/jennifer-doe.jpg);
	width: 125px;
	margin: 0 auto;
	height: 125px;
	border-radius: 50%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#profile .title h2 {
	font-size: 28px;
	font-weight: 300;
	color: #fff;
	margin: 20px 0 10px 0;
}

#profile .title h3 {
	font-size: 18px;
	font-weight: 300;
	color: #aaa;
	margin: 0px 0 10px 0;
}

.heading1 {
  border-bottom: 1px solid gray;
}