#page-content-wrapper
	.container-fluid
		.row
			.col-lg-8
				.heading1
					h1 Contact Info

				h4 Primary contact info
				ul(class="list-no-bullet")
					li 
						b Work phone: 
						add work phone number
					li 
						b Email:
						add work email
					li 
						b Address:
						add address
					li
						b Office Hour: 
						add office hour
				
				h4 Social media
				ul(class="list-no-bullet")
					li
						i(class="fa fa-linkedin-square fa-lg")
						a(href="https://www.linkedin.com/in/hhchen", target="_blank")  LinkedIn
					li
						i(class="fa fa-github fa-lg")
						a(href="https://github.com/hhchen1105", target="_blank")  GitHub
				
			.col-lg-4
				img(src="./img/contact.jpg", class="img-responsive")
					