title="Hung-Hsuan Chen - National Central University"

meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
meta(name="description", content="TODO: fill this")
meta(name="keywords", content="TODO: fill keywords")

link(rel="stylesheet", href="css/bootstrap.min.css")
link(rel="stylesheet", href="css/jquery.css")
link(rel="stylesheet", href="css/font-awesome-4.6.3/css/font-awesome.min.css")

<!-- Custom CSS -->
link(rel="stylesheet", href="css/simple-sidebar.css")

<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
	script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
<![endif]-->