#page-content-wrapper
    p
        a(href="#menu-toggle" class="btn btn-default" id="menu-toggle") Show/hide menu
    .container-fluid
        .row
            .col-lg-4
                img(src="img/about-profile-pic.JPG", class="img-responsive")
            .col-lg-8
                h3 Hung-Hsuan Chen 陳弘軒
                h4 Assistant Professor, Computer Science & Information Engineering, National Central University
                h4 中央大學 資訊工程學系 助理教授
                h4 
                    a(href="recruitment.html", style="color:red;") Recruitment 招募新生
                h3 Bio
                p Dr. Hung-Hsuan Chen is an Assistant Professor at the Department of Computer Science and Information Engineering at the National Central University.  He is interested in data related research topics, such as information extraction, information retrieval, machine learning, natural language processing, and graph analysis. He is also interested in applying these techniques to various application domains, such as recommender systems, digital libraries, and social networks.
        .row
            .col-lg-12
                h3 Education
                ul
                    li Ph.D. Computer Science and Engineering, Pennsylvania State University (2008 - 2013) <br /> 賓州州立大學 資訊科學與工程學系 博士
                    li M.S. Computer Science, National Tsing Hua University (2004 - 2006) <br /> 清華大學 資訊工程學系 碩士
                    li B.S. Computer Science, National Tsing Hua University (2000 - 2004) <br /> 清華大學 資訊工程學系 學士
        .row
            .col-lg-12
                h3 Research Experience
                ul
                    li Assistant Professor, Computer Science and Information Engineering, National Central University (2016 - present) <br /> 中央大學 資訊工程學系 助理教授
                    li Researcher, Computational Intelligence Technology Center, Industrial Technology Research Institute (2014 - 2016) <br /> 工業技術研究院 巨量資訊科技中心 研究員
                    li Research Assistant, Institute of Information Sciences and Technology, Pennsylvania State University (2008 - 2014) <br /> 賓州州立大學 資訊科學與技術學院 研究助理
                    li Research Assistant, Department of Computer Science and Information Engineering, National Taiwan University (2011/08 - 2012/01) <br /> 台灣大學 資訊工程學系 研究助理
                    li Software Engineer Intern, Google (2010/05 - 2010/08) <br /> Google 軟體工程實習生
                    li Research Assistant, Institute of Information Science, Academia Sinica (2007/11 - 2008/07) <br /> 中央研究院 資訊科學研究所 研究助理
                
                
                <!--p Make sure to keep all page content within the <code>#page-content-wrapper</code>.-->
                
                <!--a(href="#menu-toggle", class="btn btn-default" id="menu-toggle") Toggle Menu -->

