#page-content-wrapper
	.container-fluid
		.row
			.col-lg-8
				.heading1
					h1 Miscellany

				h4 Dr. Chen's academic social networks
				ul
					li
						| His 
						a(href="https://scholar.google.com/citations?view_op=list_colleagues&hl=en&user=T29tmA8AAAAJ", target="_blank") coauthors 
						| at Google Scholar
					li
						| His 
						a(href="./img/hhchen-genealogy-tree.jpg", target="_blank") academic genealogy tree
						|.  Dr. Chen's Ph.D. advisor, Prof. 
						a(href="http://clgiles.ist.psu.edu/", target="_blank") C. Lee Giles
						|, detailed this academic legacy 
						a(href="http://clgiles.ist.psu.edu/academic_genealogy.shtml", target="_blank") here
						|. This academic genealogy includes two Nobel Laureates (Prof. 
						a(href="http://en.wikipedia.org/wiki/Felix_Bloch", target="_blank") Felix Bloch 
						|and Prof. 
						a(href="http://en.wikipedia.org/wiki/Werner_Heisenberg", target="_blank") Werner Karl Heisenberg
						|) and prominent mathematicians, such as 
						a(href="http://en.wikipedia.org/wiki/Peter_Gustav_Lejeune_Dirichlet", target="_blank") Dirichlet
						|, 
						a(href="http://en.wikipedia.org/wiki/Sim%C3%A9on_Denis_Poisson", target="_blank") Poisson
						|, 
						a(href="http://en.wikipedia.org/wiki/Carl_Friedrich_Gauss", target="_blank") Gauss
						|, 
						a(href="http://en.wikipedia.org/wiki/Joseph_Fourier", target="_blank") Fourier
						|, 
						a(href="http://en.wikipedia.org/wiki/Pierre-Simon_Laplace", target="_blank") Laplace
						|, 
						a(href="http://en.wikipedia.org/wiki/Joseph-Louis_Lagrange", target="_blank") Lagrange
						|, 
						a(href="http://en.wikipedia.org/wiki/Gottfried_Wilhelm_Leibniz", target="_blank") Leibniz
						|, 
						a(href="http://en.wikipedia.org/wiki/Leonhard_Euler", target="_blank") Euler
						|, and 
						a(href="http://en.wikipedia.org/wiki/Bernoulli_family", target="_blank") two Bernoulli's 
						|(Jacob and Johann). The 
						a(href="http://genealogy.math.ndsu.nodak.edu/id.php?id=186027", target="_blank") genealogy 
						| information is collected by the 
						a(href="http://genealogy.math.ndsu.nodak.edu/", target="_blank") Mathematics Genealogy Project
						|.
					li
						| His 
						a(href="https://en.wikipedia.org/wiki/Erd%C5%91s_number", target="_blank") Erd&#337;s number 
						| seems to be 5 (Hung-Hsuan Chen, C. Lee Giles, Srimat T. Chakradhar, Dhiraj K. Pradhan, Israel Koren, Paul Erdös).
						
			.col-lg-4
				img(src="./img/misc.jpg", class="img-responsive")
			
