#page-content-wrapper
	.container-fluid
		.row
			.col-lg-8
				.heading1
					h1 Recruitment 招募新生
					
				h4 我們正在招募對資料分析具備熱情的伙伴，並協助你成為一名資料科學家。
				| 一個好的資料科學家，應該要：
				ul
					li Passion: 具備發現新題目以及實踐它的熱情。
					li Need: 從產業的需求或實際的生活經驗中，發現目前的技術或環境不足之處。
					li Skill: 解決問題的程式技術、數學分析能力、及領域知識。
				
				p 我們將從理論與實務並進，傳授一名資料科學家應具備的程式技術及數學分析能力，鼓勵學生從從自己的生活經驗或開放資料中發現新的需求或應用，並將想法實踐。
				
				p(style="color: red") [聯絡方式]
				p 有興趣加入的夥伴，請備自介並與陳老師聯繫：hhchen1105@gmail.com。
			.col-lg-4
				img(src="./img/recruit-ven-diag.jpg", class="img-responsive")

