#sidebar-wrapper
	#profile
		.title
			h4 
				a(href="recruitment.html", style="font-size: 16px; font-weight: 300; color: #FFD700; margin: 0px 0 10px 0; text-align: left;") Recruitment 招募新生
			
			h2 Hung-Hsuan Chen
			h3 National Central University
	
	.sidebar-nav
		li(class="sidebar-brand")
			a(href="index.html" class="fa fa-home fa-lg" aria-hidden="true")  Home
		li(class="sidebar-brand")
			a(href="publications.html" class="fa fa-book fa-lg" aria-hidden="true")  Publications
		li(class="sidebar-brand")
			a(href="teaching.html" class="fa fa-pencil-square-o fa-lg" aria-hidden="true")  Teaching
		li(class="sidebar-brand")
			a(href="contact.html" class="fa fa-phone fa-lg" aria-hidden="true")  Contact Info
		li(class="sidebar-brand")
			a(href="misc.html" class="fa fa-chain fa-lg" aria-hidden="true")  Misc.