#sidebar-wrapper
	#profile
		.title
			h2 Hung-Hsuan Chen
			h3 National Central University
	
	.sidebar-nav
		li(class="sidebar-brand")
			a(href="index.html" class="fa fa-home fa-lg" aria-hidden="true")  Home
		li(class="sidebar-brand")
			a(href="publications.html" class="fa fa-book fa-lg" aria-hidden="true")  Publications
		li(class="sidebar-brand")
			a(href="teaching.html" class="fa fa-pencil-square-o fa-lg" aria-hidden="true")  Teaching
		li(class="sidebar-brand")
			a(href="contact.html" class="fa fa-phone fa-lg" aria-hidden="true")  Contact Info