#page-content-wrapper
	.container-fluid
		.row
			.col-lg-8
				.heading1
					h1 Teaching

				h4 2016 Fall
				ul
					<!-- li Massive data analysis and management 巨量資料分析導論-->
					li TBA
			.col-lg-4
				img(src="./img/teaching.jpg", class="img-responsive")
			
