doctype html
html(lang="en")
    head
        include header.pug

    body
        #wrapper
            include sidebar.pug
            include teaching_content.pug
            
    include footer.pug

